/* projenin genelinde kullanmak üzere değişken atadık */
:root {
    --renk-baslik: yellow;
    --renk-arama-arka: #eaeaea;
    --renk-default: #fcfcfc;
    --renk-sonuc-arka: #343434;

    --baslik-yazi-boyut: 78px;
    --arama-yazi-boyut: 22px;
    --sehir-yazi-boyut: 96px;
    --derece-yazi-boyut: 96px;
    --statu-yazi-boyut: 56px;

}

* {
    /* sayfa */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* arka plan boyutu */
.arkaplan {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -10;
    left:0;
    top:0;
}

/* arka plan resmi */
.arkaplan .arkaplan-resim {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    right: 0;
    bottom: 0;
}

/* arka planı soluklaştırma*/
.arkaplan .overlay {
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0 , 0, 0.4);
}

/* id verdiklerimiz # ile başlar classlar . ile başlar. değişken çağırırken var ile başlar */
#baslik {
 margin-top: 40px;
 text-align: center;
 color: var(--renk-baslik);
 font-size: var(--baslik-yazi-boyut);
}

/* arama kutusunu yerleştirme  */
.arama{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* arama kutusunu boyutlandırma ve input kısmı */
.arama .arama-input {
width: 80%;
height: 50px;
text-align: center;
border-radius: 15px;
padding: 20px;
border: none;
font-size: var(--arama-yazi-boyut);
background-color: var(--renk-arama-arka);
}

.sonuc {
    position: relative;
    margin-top: 100px;
}

.sonuc .sehir {
    color: var(--renk-default);
    font-size: var(--sehir-yazi-boyut);
    text-align: center;
}

.sonuc .detay{
    margin-top: 60 px;
    width: 100%;
    height: 250px;
    background-color: var(--renk-sonuc-arka);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sonuc .detay .derece {
    color:var(--renk-default);
    font-size: var(--derece-yazi-boyut);
    font-weight: bold;
} 
.sonuc .detay .statu {
    color: var(--renk-default);
    font-size: var(--statu-yazi-boyut);
    margin-top: 20px;
}

@media screen and (min-width: 950px) {
    .uygulama {
        width: 60%;
        height: 100vh;
        margin: 0 auto;
        background-color: rgba(77, 205, 251, 0.547);
    }
}

.minmax{
    font-size: 24px;
    color: var(--renk-default);
}


